<%= form_for(@deal) do |f| %>

  <div class="form-group">
    <%= f.label :item %><br>

    <%= f.collection_select :item_id, Item.all, :id,:name, prompt: "Select Item" %>
  </div> 

  <div class="form-group">
    <%= f.label :amount %><br>
    <%= f.number_field :amount, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :price %><br>
    <%= f.number_field :price, class: "form control", step: :any %>
  </div> 

  <div class="form-group">
    <%= f.label :message %><br>
    <%= f.text_area :message, class: "form control" %>
  </div> 

  <div class="actions">
    <%= f.submit class: "btn btn-primary" %>
  </div>
  
<% end %>