  
<% if !params[:user].blank? %>
  <% @deals = Deal.where(user: params[:user]) %>
<% end %>

<h1> Deals! <h1>

<%= link_to "Deals Under $50.00", deals_under_fifty_path  %>

<% if params[:item_id] %>
   <% @deals.each do |deal| %>
    <h3><%= link_to deal.name, deal_path(deal) %></h3>
    <div id="deal-<%= deal.id %>"><%= truncate(deal.message) %></div>
    <button class="js-more" data-id="<%= deal.id %>">More Info</button>
  <% end %>

<% else %>
   <% @deals.each do |deal| %>
    <h3><%= link_to deal.name, deal_path(deal) %></h3>
    <div id="deal-<%= deal.id %>"><%= truncate(deal.message) %></div>
    <button class="js-more" data-id="<%= deal.id %>">More Info</button>
  <% end %> 

<% end %>
<script type="text/javascript" charset="utf-8">
$(function() {
  $(".js-more").on("click", function() {
    var id = $(this).data("id");
    $.get("/deals/" + id + ".json", function(data) {
      var deal = data;
      var descriptionText = "<p>" + deal["message"] + "</p>";
      $("#deal-" + id).html(descriptionText);
    });
  });
});
</script>