<a href="#" class="js-next" data-id="<%=@deal.id%>">Next Deal</a>
<h1 class="dealName"> <strong><%= @deal.name %></strong> </h1> <br>

<strong> Item: </strong><p class="itemName"><%= @deal.item.name %> </p> <br>
<strong> Description: </strong><p class="itemDescription"><%= @deal.item.description %> </p> <br>
<strong> Retail Price: </strong> <p class="itemPrice"> <%= number_to_currency(@deal.item.price) %> </p> <br>
<strong> Deal: </strong> <p class="dealName"><%= @deal.name %> </p> <br>
<strong> Deal Price: </strong> <p class="dealPrice"> <%= number_to_currency(@deal.price) %> </p> <br>
<strong> Info: </strong><p class="dealMessage"><%= @deal.message %> </p>
<strong> Email for more info: </strong> <p class="dealUser"> <%= @deal.user.email %> </p> <br>

<script type="text/javascript" charset="utf-8">
$(function () {
  $(".js-next").on("click", function(event) {
    
    event.preventDefault();
    var nextId = parseInt($(".js-next").attr("data-id")) + 1;
    $.get("/deals/" + nextId + ".json", function(data) {
      var deal = data;
      $(".dealName").text(deal["name"]);
      $(".dealPrice").text(deal["price"]);
      $(".dealMessage").text(deal["message"]);
      $(".itemName").text(deal["item"]["name"]);
      $(".itemPrice").text(deal["item"]["price"]);
      $(".itemDescription").text(deal["item"]["description"]);
      $(".dealUser").text(deal["user"]["email"]);
      // re-set the id to current on the link
      $(".js-next").attr("data-id", data["id"]);
    });
  })
   

});
</script>