<h1> <strong><%= @deal.name %></strong> </h1> <br>

<p><strong> Item: </strong><%= @deal.item.name %> </p> <br>
<p><strong> Description: </strong><%= @deal.item.description %> </p> <br>
<p><strong> Retail Price: </strong><%= number_to_currency(@deal.item.price) %> </p> <br>
<p><strong> Deal Price: </strong><%= number_to_currency(@deal.price) %> </p> <br>
<p><strong> Savings: </strong><%= savings(@deal) %> </p>
<p><strong> Info: </strong><%= @deal.message %> </p>
<p><strong> Email for more info: </strong><%= @deal.user.email %> </p> <br>