
<h1 class="itemName"><strong> <%= @item.name %></strong></h1>
<p class="itemDescription"><%= @item.description %></p>
<p class="itemPrice"> <%= number_to_currency(@item.price) %></p>
<p class="itemCategory"><%= @item.category %></p>

<a href="#" class="js-next" data-id="<%=@item.id%>">Next Item</a><br>
<br>


<div class="itemDeals">
  <ul>
  <% @item.deals.each do |deal| %>
    <li> <%= link_to deal.name, deals_path(deal) %> - <%= number_to_currency(deal.price) %>
    <% end %> 
  </ul>
</div>

<div id="deals_div">
  <ol>
  </ol>
</div>

<%= render 'deal' %>


