
<h1 class="itemName"><strong> <%= @item.name %></strong></h1>
<p class="itemDescription"><strong>Description:</strong> <%= @item.description %></p>
<p class="itemPrice"><strong>Price:</strong> <%= number_to_currency(@item.price) %></p>
<p class="itemCategory"><strong>Category:</strong> <%= @item.category %></p>


<%= link_to "Load Deals", item_deals_path(@item), class: "load_deals" %>

<div id="deals_div">
  <ol>
  </ol>
</div>

<%= render 'deal' %>

<script type="text/javascript" charset="utf-8">
$(function () {

  $("a.load_deals").on("click", function(e) {
    $.get(this.href).success(function(json){
      let $deals = $("#deals_div ol")
      $deals.text('')
      json.forEach(function(deal){
        $deals.append("<li>" + deal.user.name + " has a deal for " + formatter.format(deal.price) + " email: " + deal.user.email + " for more info." + "</li>")
      });
    });
    e.preventDefault();
  });

  $("form").submit(function(event) {
    event.preventDefault();
    var values = $(this).serialize();
    var posting = $.post('/deals', values);
    posting.done(function(data) {
      let deal = new Deal(data)
      deal.renderLi()
    });
  });

  function showItem(json){
    $(".itemName").text(json.name)
    $(".itemDescription").text(json.description)
    $("#deals_div ol").empty()
  
  };

  function Deal(attributes){
  this.id = attributes.id
  this.name = attributes.name
  this.user = attributes.user
  this.price = attributes.price  
  };

  Deal.prototype.renderLi = function(){
  let html = '<li> You just posted a deal for:' + this.price + '</li>'
  $("#deals_div ol").append(html)
  }; 

  const formatter = new Intl.NumberFormat('en-US', {
  style: 'currency',
  currency: 'USD',
  minimumFractionDigits: 2
  });
});

</script>

